.coq-math > * > * > * > * > * > .s2 {
  color:black;
}

.coq-math .alectryon-sentence:hover .alectryon-output:not(:hover) .alectryon-messages {
  box-shadow: none;
}

body {
  background: white !important;
}

.coq-math > * > * >  * > * > .alectryon-message {
  background:white !important;
}

.coq-math > * > * >  * > .alectryon-messages {
  background: white !important;
  border: none;
}